@model TidePredictorWebApplication2.ViewModel.TideViewModel
@{
    ViewData["Title"] = "CalculateTide";
}

@*<h2>CalculateTide</h2>
    <label asp-for="SeaLevelCalculated" class="form-control"></label>
    <input asp-for="SeaLevelCalculated" class="form-control disabled"></input>

    <a asp-action="Index" class="btn btn-sm btn-success">Back</a>*@.



<label asp-for="SeaLevelCalculated" class="form-control"></label>
<input asp-for="SeaLevelCalculated" class="form-control disabled"></input>


