@model TidePredictorWebApplication2.ViewModel.TideViewModel
@{
    ViewData["Title"] = "EnterTideDataToDatabase";
}
sdfsdfsdf


<form asp-action="CalculateTide">
    <input asp-for="YearOfTide" class="form-control" />
    <input type="submit" value="CalculateTide" class="btn btn-primary bigButton" />
</form>


